*{
    padding: 0;
    margin: 0;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
   
}

.item{
    margin: 15px;
    border-radius: 10px;
    border: 2px solid #00000050;
    box-shadow: 0 0 4px 0 #00000050;
}
.box_img{
    width: 230px;
    height: 215px;
  }




.header{
    background-color: #F5F5F5;
}
.header_sec{
    position: sticky;
    padding: 17px 0px;
    display: flex;
    justify-content: space-between;


}

.m{
    padding:0px  20px;
}
.header_1{
    display: flex;
}
.header_2{
    display: flex;
    margin-right: 12px;
}
.search{
    width: 36vw;
    height: 36px;
    padding: 0px 40px;
    border-radius: 30px;
}
.trend{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.text_trend{
    font-family: 'League Spartan', sans-serif;
    margin-left: 20px;

}
.songs_title{
    font-family: 'Fredoka', sans-serif;
}
.all{
    float: right;
    display: block;
    text-decoration: none;
    margin-right: 26px;
    color: #ff0000;
}
#ham_logo{
    color: black;
    font-size: 30px;
}
.slidebar-nav{
    display: none;
    position: absolute;
    top: 10%;
    left: 0%;
    background-color: #e8eff6;
    color: black;
    z-index: 10;
    padding: 45px 46px 43px 40px

}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.choose_role{
    position: absolute;
    display: none;
    width: 23em;
    top: 20%;
    z-index: 3;
    padding: 10px;
    background-color: #eeeeee;
}

.role_box{
    display: flex; 
    justify-content:center;
  
}